<?xml browserVersion="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" browserVersion="3.11.0" targetFramework="net461" />
  <package id="FluentAssertions" browserVersion="5.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" browserVersion="9.0.1" targetFramework="net461" />
  <package id="NLog" browserVersion="4.5.7" targetFramework="net461" />
  <package id="NLog.Config" browserVersion="4.5.7" targetFramework="net461" />
  <package id="NLog.Schema" browserVersion="4.5.7" targetFramework="net461" />
  <package id="NUnit" browserVersion="3.0.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" browserVersion="3.10.0" targetFramework="net461" />
  <package id="SauceRest-net" browserVersion="1.0.7" targetFramework="net461" />
  <package id="Selenium.Support" browserVersion="3.13.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" browserVersion="3.13.1" targetFramework="net461" />
  <package id="SpecFlow" browserVersion="2.3.2" targetFramework="net461" />
  <package id="SpecFlow.NUnit" browserVersion="2.3.2" targetFramework="net461" />
  <package id="System.ValueTuple" browserVersion="4.4.0" targetFramework="net461" />
</packages>