<?xml browserVersion="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" browserVersion="5.4.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" browserVersion="1.2.1" targetFramework="net461" />
  <package id="MSTest.TestFramework" browserVersion="1.2.1" targetFramework="net461" />
  <package id="NUnit" browserVersion="3.10.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" browserVersion="3.10.0" targetFramework="net461" />
  <package id="Selenium.Support" browserVersion="3.13.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" browserVersion="3.13.1" targetFramework="net461" />
  <package id="System.ValueTuple" browserVersion="4.4.0" targetFramework="net461" />
</packages>