<?xml browserVersion="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" browserVersion="3.0.0.2" targetFramework="net461" />
  <package id="Castle.Core" browserVersion="3.3.3" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TestPlatform" browserVersion="14.0.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" browserVersion="9.0.1" targetFramework="net461" />
  <package id="Selenium.Support" browserVersion="3.0.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" browserVersion="3.0.1" targetFramework="net461" />
</packages>